@model DisplayDiff.Models.Display

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Display</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerticalResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerticalResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorizontalResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorizontalResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdaptiveSync)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdaptiveSync)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PanelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PanelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagonalLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagonalLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefreshRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefreshRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullSpecsURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullSpecsURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
